body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    height: 100000%;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    /*background-image: linear-gradient(to bottom right, darkmagenta, darkblue);*/
    border-radius: 50px 50px 0 0;
    padding: 0px 50px 30px 50px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

h1{
    font-size: 3em;
    font-weight: bold;
    margin: 30px;
    color: white;
}

p{
    transition: all .1s;
    margin: 10px auto;
    font-weight: bold;
    color: white;
}

#game{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-areas:
    " score1  score1  score1  score2  score2  score2"
    "player1 player1 player1 player2 player2 player2";
    gap: 10px;
    margin: 20px 0px;
}

#score1{
    grid-area: score1;
}
#score2{
    grid-area: score2;
}
#score1, #score2{
    font-size: 50px;
}
#player1{
    grid-area: player1;
}
#player2{
    grid-area: player2;
}

.grid-item{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 125);
}

.grid-header{
    background-color: yellow;
    transition: all 1s; 
}

button{
    height: 95%;
    width: 95%;
    padding: 0;
    border: none;
}

button.selected{
    background-color: yellow;
    box-shadow: 0px 0px 5px 2px yellow;
}

button.player1:hover, .button-hover{
    background-color: yellow;
}

button.player2{
    transition: all .5s;
}

.emoji{
    font-size: 75px;
}

.hidden{
    opacity: 0;
}

.green{
    background-color: rgb(0, 255, 0);
}

.red{
    background-color: rgb(255, 0, 0);
}